button {
    font-weight: normal;
    font-size: 1rem;
    border-radius: 2px;
    border: none;
    padding: 0px 8px;
    min-height: 32px;
    min-width: 66px;
    background-color: rgba(12, 12, 13, .1);
    color: #0c0c0d;
}

button:hover:enabled {
    background-color: rgba(12, 12, 13, .2);
}

button:active:enabled {
    background-color: rgba(12, 12, 13, .3);
}

/* For buttons on transparent backgrounds*/
.button-transparent {
    background-color: #f9f9fa;
}

.button-transparent:disabled {
    opacity: 0.7;
    color: gray;
}

.button-transparent:hover:enabled {
    background-color: #d7d7db;
}

.button-transparent:active:enabled {
    background-color: #b1b1b3;
}