.config-open-button {
    background-color: rgba(0, 0, 0, 0.8);
    height: 50px;
    position: absolute;
    top: 5px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    font-size: 40px;
    color: rgba(223, 206, 206, 0.9);
    border-radius: 8px;
}

.config-open-button:hover {
    background-color: rgba(223, 206, 206, 0.2);
}