.folder-picker-container {
    display: flex;

    overflow-y: auto;
    height: 100%;
}

.folder-picker-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem;

    background: rgba(0, 0, 0, 0.7);
    color: azure;
    margin: auto;

    width: 50%;
}

.folder-pick-text {
    font-size: 2rem;
}

.folder-picker-component {
    flex-grow: 1;

    background-color: white;
    color: black;

    padding: 1rem;
}

.new-folder-container {
    display: flex;
    justify-content: space-between;
    
    padding: 1rem 0;
}

.new-folder-container button {
    font-size: 1rem;
}