.dial-item-container {
    position: absolute;
    width: 220px;
    height: 209px;
    display: flex;
    flex-direction: column;
    transition: transform 0.25s ease;
}

.dial-dragged {
    z-index: 500;
}

.dial-dragged .dial-tile, .dial-tile:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .65);
}