{
    "plugins": [
        "@babel/transform-react-jsx",
        [
            "transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ]
    ],
    "env": {
        "development": {
            "plugins": [
                "@babel/transform-react-jsx-source",
                "@babel/transform-react-jsx-self"
            ]
        },
        "test": {
            "plugins": [
                "@babel/transform-react-jsx-source",
                "@babel/transform-react-jsx-self"
            ]
        }
    }
}