.dial-item-container {
    position: absolute;
    width: 220px;
    height: 209px;
    display: flex;
    flex-direction: column;
    transition: transform 0.25s ease, width 0.25s ease, height 0.25s ease;
}