.button-primary {
    color: #ffffff;
    background-color: #0060df;
}

.button-primary:hover:enabled {
    background-color: #003eaa;
}

.button-primary:active:enabled {
    background-color: #002275;
}