.button-danger {
    color: #ffffff;
    background-color: #ff0039;
}

.button-danger:hover:enabled {
    background-color: #d70022;
}

.button-danger:active:enabled {
    background-color: #a4000f;
}