.modal-container {
    position: absolute;
    z-index: 1000000;
    background-color: white;
    width: 40vw;
    height: 70vh;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    box-shadow: 0 0 8px gray;

    border-radius: 8px;

    display: flex;
    flex-direction: column;
}