.dial-title-container {
    display: flex;
    justify-content: center;
    padding-top: 4px;
}

.dial-title-background {
    background-color: white;
    padding: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
}