html, body {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 0;
    /* Needed for Chrome, which adds 75% for unknown reason */
    font-size: 1rem;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#root {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.rounded-borders {
    border-radius: 8px;
}

.rounded-borders-half {
    border-radius: 4px;
}

.input-group label {
    width: 100%;
    display: inline-block;
    color: #0c0c0d;
    padding-bottom: 4px;
    font-size: 0.9rem;
}

.input-group input {
    color: #0c0c0d;
    border-radius: 2px;
    height: 32px;
    width: 100%;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    font-size: 1rem;
    border-color: rgba(12, 12, 13, 0.3);
}

.input-group input:hover {
    border-color: rgba(12, 12, 13, 0.5);
}

.input-group input:focus {
    border-color: #0a84ff;
    box-shadow: 0 0 10px rgba(10, 132, 255, 0.2);
}

.input-group {
    margin-bottom: 8px;
}

:root{
    --border-radius: 4px;
}